<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><a href="/accounts/login">login</a>
        <a href="/accounts/logout">logout</a></title>

{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
  {{ form.as_table }}
</table>

<input type="submit" value="login" />
</form>

{% endblock %}

</head>
<body>

</body>
</html>